## Pandas: Tabellarische Daten einlesen

Mit `Numpy` haben wir in den letzten Lektionen ein nützliches Modul kennen gelernt, um mit Daten in Form von `Arrays` zu arbeiten. 

Jetzt gehen wir im _DataScience-Workflow_ einen Schritt zurück und schauen uns an, wie wir an diese Daten kommen: Mit dem Paket `pandas`, das auf `Numpy` aufbaut, kannst du sehr komfortabel CSV / Excel - Dateien einlesen und sie dann sortieren und filtern.

### Das `pandas`-Paket einbinden

Für das `pandas`-Paket hat sich die Abkürzung `pd` etabliert. Auch du solltest dir angewöhnen sie der Einfachheit halber zu verwenden. :-)

In [3]:
import pandas as pd

### Eine `csv`-Datei als `DataFrame` einlesen

Mit `pandas` geht das Einlesen einer csv-Datei dann ganz schnell:

In [5]:
df = pd.read_csv("../data/astronauts.csv")
df

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
5,Andrew M. Allen,1987.0,12.0,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
6,Joseph P. Allen,1967.0,6.0,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN
7,Scott D. Altman,1995.0,15.0,Retired,8/15/1959,"Lincoln, IL",Male,University of Illinois; US Naval Postgraduate ...,Aeronautical & Astronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),4,1236,0,0.0,"STS-90 (Columbia), STS-106 (Atlantis), STS-109...",NaN,NaN
8,William A. Anders,1963.0,3.0,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
9,Clayton C. Anderson,1998.0,17.0,Retired,2/23/1959,"Omaha, NE",Male,Hastings College; Iowa State University,Physics,Aerospace Engineering,NaN,NaN,2,4005,6,38.0,"STS-117/120 (Atlantis/Discovery), STS-131 (Dis...",NaN,NaN
10,Michael P. Anderson,1995.0,15.0,Deceased,12/25/1959,"Plattsburgh, NY",Male,University of Washington; Creighton University,Physics & Astronomy,Physics,Lieutenant Colonel,US Air Force,2,594,0,0.0,"STS-89 (Endeavor), STS-107 (Columbia)",2/1/2003,STS-107 (Columbia)
11,Dominic A. Antonelli,2000.0,18.0,Active,8/23/1967,"Detroit, MI",Male,MIT; University of Washington,Aeronautics & Astronautics,Aeronautics & Astronautics,Commander,US Navy,2,579,0,0.0,"STS-119 (Discovery), STS-132 (Atlantis)",NaN,NaN
12,Jerome Apt III,1985.0,11.0,Retired,4/18/1949,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,NaN,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaN,NaN
13,Lee J. Archambault,1998.0,17.0,Retired,8/25/1960,"Oak Park, IL",Male,University of Illinois-Urbana,Aeronautical & Astronautical Engineering,Aeronautical & Astronautical Engineering,Colonel,US Air Force,2,639,0,0.0,"STS-117 (Atlantis), STS-119 (Discovery)",NaN,NaN
14,Neil A. Armstrong,1962.0,2.0,Deceased,8/5/1930,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",8/25/2012,NaN
15,Richard R. Arnold II,2004.0,19.0,Active,11/26/1963,"Cheverly, MD",Male,Frostburg State University; University of Mary...,Accounting,Environmental Science,NaN,NaN,1,307,2,12.0,STS-119 (Discovery),NaN,NaN
16,Jeffrey S. Ashby,1995.0,15.0,Retired,6/1/1954,"Dallas, TX",Male,University of Idaho; University of Tennessee,Mechanical Engineering,Aviation Systems,Captain,US Navy (Retired),3,655,0,0.0,"STS-93 (Columbia), STS-100 (Endeavor), STS-112...",NaN,NaN
17,Serena M. Aunon,2009.0,20.0,Active,4/9/1976,"Indianapolis, IN",Female,George Washington University; University of Texas,Electrical Engineering,Medicine,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
18,James P. Bagian,1980.0,9.0,Retired,2/22/1952,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaN,NaN
19,Ellen S. Baker,1984.0,10.0,Retired,4/27/1953,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN
20,Michael A. Baker,1985.0,11.0,Management,10/27/1953,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaN,NaN
21,Michael R. Barratt,2000.0,18.0,Active,4/16/1959,"Vancouver, WA",Male,University of Washington; Northwestern Univers...,Zoology,Medicine; Aerospace Medicine,NaN,NaN,2,5075,1,5.0,"ISS-19/20 (Soyuz), STS-133 (Discovery)",NaN,NaN
22,Daniel T. Barry,1992.0,14.0,Retired,12/30/1953,"Norwalk, CT",Male,Cornell University; Princeton University; Univ...,Electrical Engineering,Electrical Engineering; Computer Science; Medi...,NaN,NaN,3,733,4,26.0,"STS-72 (Endeavor), STS-96 (Discovery), STS-105...",NaN,NaN
23,John-David F. Bartoe,NaN,NaN,Retired,11/17/1944,"Abington, PA",Male,Lehigh University; Georgetown University,Physics,Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
24,Charles A. Bassett II,1963.0,3.0,Deceased,12/30/1931,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,NaN,2/28/1966,NaN
25,Alan L. Bean,1963.0,3.0,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
26,Robert L. Behnken,2000.0,18.0,Active,7/28/1970,"Creve Couer, MO",Male,Washington University; California Institute of...,Physics & Mechanical Engineering,Mechanical Engineering,Colonel,US Air Force,2,708,6,37.0,"STS-123 (Endeavor), STS-130 (Endeavor)",NaN,NaN
27,John E. Blaha,1980.0,9.0,Retired,8/26/1942,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaN,NaN
28,Michael J. Bloomfield,1995.0,15.0,Retired,3/16/1959,"Flint, MI",Male,US Air Force Academy; Old Dominion University,Engineering Mechanics,Engineering Management,Colonel,US Air Force (Retired),3,779,0,0.0,"STS-86 (Atlantis), STS-97 (Endeavor), STS-110 ...",NaN,NaN
29,Guion S. Bluford Jr.,1978.0,8.0,Retired,11/22/1942,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,Charles Lacy Veach,1984.0,10.0,Deceased,9/18/1944,"Chicago, IL",Male,US Air Force Academy,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,"STS-39 (Discovery), STS-52 (Columbia)",10/3/1995,NaN
328,Terry W. Virts Jr.,2000.0,18.0,Active,12/1/1967,"Baltimore, MD",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Mathematics,Aeronautics,Colonel,US Air Force,2,5122,3,18.0,"STS-130 (Endeavor), ISS-42/43 (Soyuz)",NaN,NaN
329,James S. Voss,1987.0,12.0,Retired,3/3/1949,"Cordova, AL",Male,Auburn University; University of Colorado,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",NaN,NaN
330,Janice E. Voss,1990.0,13.0,Deceased,10/8/1956,"South Bend, IN",Female,Purdue University; MIT,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",2/6/2012,NaN
331,Rex J. Walheim,1996.0,16.0,Active,10/10/1962,"Redwood, CA",Male,University of California-Berkeley; University ...,Mechanical Engineering,Industrial Engineering,Colonel,US Air Force (Retired),3,872,5,36.0,"STS-110 (Atlantis), STS-122 (Atlantis), STS-13...",NaN,NaN
332,Charles D. Walker,NaN,NaN,Retired,8/29/1948,"Bedford, IN",Male,Purdue University,Aeronautical & Astronautical Engineering,NaN,NaN,NaN,3,477,0,0.0,"STS 41-D (Discovery), STS 51-D (Discovery), ST...",NaN,NaN
333,David M. Walker,1978.0,8.0,Deceased,5/20/1944,"Columbus, GA",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",4/23/2001,NaN
334,Shannon Walker,2004.0,19.0,Active,6/4/1965,"Houston, TX",Female,Rice University,Space Physics,Space Physics,NaN,NaN,1,3919,0,0.0,ISS-24/25 (Soyuz),NaN,NaN
335,Carl E. Walz,1990.0,13.0,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN
336,Taylor G. Wang,NaN,NaN,Retired,6/16/1940,"Jiangxi, China",Male,University of California at Los Angeles,Physics,Physics,NaN,NaN,1,168,0,0.0,STS 51-B (Challenger),NaN,NaN
337,Mary E. Weber,1992.0,14.0,Retired,8/24/1962,"Cleveland, OH",Female,Purdue University; University of California-Be...,Chemical Engineering,Physical Chemistry,NaN,NaN,2,450,0,0.0,"STS-70 (Discovery), STS-101 (Atlantis)",NaN,NaN
338,Paul J. Weitz,1966.0,5.0,Retired,6/25/1932,"Erie, PA",Male,Pennsylvania State University; US Naval Postgr...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,"Skylab 2, STS-6 (Challenger)",NaN,NaN
339,James D. Wetherbee,1984.0,10.0,Retired,11/27/1952,"Flushing, NY",Male,University of Notre Dame,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",NaN,NaN
340,Douglas H. Wheelock,1998.0,17.0,Active,5/5/1960,"Binghamton, NY",Male,US Military Academy; Georgia Institute of Tech...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army,2,4281,6,43.0,"STS-120 (Discovery), ISS-24/25 (Soyuz)",NaN,NaN
341,Edward H. White II,1962.0,2.0,Deceased,11/14/1930,"San Antonio, TX",Male,US Military Academy; University of Michigan,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,"Gemini 4, Apollo 1",1/27/1967,Apollo 1
342,Peggy A. Whitson,1996.0,16.0,Active,2/9/1960,"Mt. Ayr, IA",Female,Iowa Wesleyan College; Rice University,Chemistry & Biology,Biochemistry,NaN,NaN,3,11698,7,46.0,"STS-111/113 (Endeavor), ISS-16 (Soyuz), ISS-50...",NaN,NaN
343,Terrence W. Wilcutt,1990.0,13.0,Management,10/31/1949,"Russellville, KY",Male,Western Kentucky University,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",NaN,NaN
344,Clifton C. Williams Jr.,1963.0,3.0,Deceased,9/26/1932,"Mobile, AL",Male,Auburn University,Mechanical Engineering,NaN,Major,US Marine Corps,0,0,0,0.0,NaN,10/5/1967,NaN
345,Donald E. Williams,1978.0,8.0,Retired,2/13/1958,"Lafayette, IN",Male,Purdue University,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,"STS 51-D (Discovery), STS-34 (Atlantis)",NaN,NaN
346,Jeffrey N. Williams,1996.0,16.0,Active,1/18/1958,"Superior, WI",Male,US Military Academy; US Naval Postgraduate Sch...,Applied Science & Engineering,Aeronautical Engineering; National Security & ...,Colonel,US Army (Retired),4,12818,5,32.0,"STS-101 (Atlantis), ISS-13 (Soyuz), ISS-21/22 ...",NaN,NaN
347,Sunita L. Williams,1998.0,17.0,Active,9/19/1965,"Euclid, OH",Female,US Naval Academy; Florida Institute of Technology,Physical Science,Engineering Management,Captain,US Navy,2,7721,7,50.0,"STS-116/117 (Discovery/Atlantis), ISS-32/33 (S...",NaN,NaN
348,Barry E. Wilmore,2000.0,18.0,Active,12/29/1962,"Murfreesboro, TN",Male,Tennessee Technological University; University...,Electrical Engineering,Electrical Engineering; Aviation Systems,Captain,US Navy,2,4272,4,25.0,"STS-129 (Atlantis), ISS-41/42 (Soyuz)",NaN,NaN
349,Stephanie D. Wilson,1996.0,16.0,Active,9/27/1966,"Boston, MA",Female,Harvard University; University of Texas,Engineering Science,Aerospace Engineering,NaN,NaN,3,1031,0,0.0,"STS-121 (Discovery), STS-120 (Discovery), STS-...",NaN,NaN
350,G. Reid Wiseman,2009.0,20.0,Active,11/11/1975,"Baltimore, MD",Male,Rensselaer Polytechnic Institute; Johns Hopkin...,Computer & Systems Engineering,Systems Engineering,Commander,US Navy,1,3968,2,13.0,ISS-40/41 (Soyuz),NaN,NaN
351,Peter J. K. Wisoff,1990.0,13.0,Retired,8/16/1958,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaN,NaN
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,7/26/1962,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN

Die Variable `df` ist vom `pandas`-spezifischen Datentyp **DataFrame**

In [14]:
type(df)

pandas.core.frame.DataFrame

Beim Öffnen einer csv-Datei mit `read_ csv()` kannst du auch noch den `delimiter`-Parameter festlegen: er gibt an, welches Zeichen einen Dateneintrag abschließt (in unserem Fall hier ein `,`). Wenn also der `delimiter` das Komma - Zeichen ist, dann müssen Daten, in denen ebenfalls Kommata auftauchen, wie z.B. "Inglewood, CA" innerhalb der csv-Datei in " " gesetzt werden. Andernfalls würde Python hier Inglewood und CA als zwei Dateneinträge auffassen, da zwischen ihnen das `delimiter` - Zeichen steht.

In [13]:
df = pd.read_csv("../data/astronauts.csv", delimiter=",")
df

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
5,Andrew M. Allen,1987.0,12.0,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
6,Joseph P. Allen,1967.0,6.0,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN
7,Scott D. Altman,1995.0,15.0,Retired,8/15/1959,"Lincoln, IL",Male,University of Illinois; US Naval Postgraduate ...,Aeronautical & Astronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),4,1236,0,0.0,"STS-90 (Columbia), STS-106 (Atlantis), STS-109...",NaN,NaN
8,William A. Anders,1963.0,3.0,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
9,Clayton C. Anderson,1998.0,17.0,Retired,2/23/1959,"Omaha, NE",Male,Hastings College; Iowa State University,Physics,Aerospace Engineering,NaN,NaN,2,4005,6,38.0,"STS-117/120 (Atlantis/Discovery), STS-131 (Dis...",NaN,NaN
10,Michael P. Anderson,1995.0,15.0,Deceased,12/25/1959,"Plattsburgh, NY",Male,University of Washington; Creighton University,Physics & Astronomy,Physics,Lieutenant Colonel,US Air Force,2,594,0,0.0,"STS-89 (Endeavor), STS-107 (Columbia)",2/1/2003,STS-107 (Columbia)
11,Dominic A. Antonelli,2000.0,18.0,Active,8/23/1967,"Detroit, MI",Male,MIT; University of Washington,Aeronautics & Astronautics,Aeronautics & Astronautics,Commander,US Navy,2,579,0,0.0,"STS-119 (Discovery), STS-132 (Atlantis)",NaN,NaN
12,Jerome Apt III,1985.0,11.0,Retired,4/18/1949,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,NaN,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaN,NaN
13,Lee J. Archambault,1998.0,17.0,Retired,8/25/1960,"Oak Park, IL",Male,University of Illinois-Urbana,Aeronautical & Astronautical Engineering,Aeronautical & Astronautical Engineering,Colonel,US Air Force,2,639,0,0.0,"STS-117 (Atlantis), STS-119 (Discovery)",NaN,NaN
14,Neil A. Armstrong,1962.0,2.0,Deceased,8/5/1930,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",8/25/2012,NaN
15,Richard R. Arnold II,2004.0,19.0,Active,11/26/1963,"Cheverly, MD",Male,Frostburg State University; University of Mary...,Accounting,Environmental Science,NaN,NaN,1,307,2,12.0,STS-119 (Discovery),NaN,NaN
16,Jeffrey S. Ashby,1995.0,15.0,Retired,6/1/1954,"Dallas, TX",Male,University of Idaho; University of Tennessee,Mechanical Engineering,Aviation Systems,Captain,US Navy (Retired),3,655,0,0.0,"STS-93 (Columbia), STS-100 (Endeavor), STS-112...",NaN,NaN
17,Serena M. Aunon,2009.0,20.0,Active,4/9/1976,"Indianapolis, IN",Female,George Washington University; University of Texas,Electrical Engineering,Medicine,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
18,James P. Bagian,1980.0,9.0,Retired,2/22/1952,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaN,NaN
19,Ellen S. Baker,1984.0,10.0,Retired,4/27/1953,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN
20,Michael A. Baker,1985.0,11.0,Management,10/27/1953,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaN,NaN
21,Michael R. Barratt,2000.0,18.0,Active,4/16/1959,"Vancouver, WA",Male,University of Washington; Northwestern Univers...,Zoology,Medicine; Aerospace Medicine,NaN,NaN,2,5075,1,5.0,"ISS-19/20 (Soyuz), STS-133 (Discovery)",NaN,NaN
22,Daniel T. Barry,1992.0,14.0,Retired,12/30/1953,"Norwalk, CT",Male,Cornell University; Princeton University; Univ...,Electrical Engineering,Electrical Engineering; Computer Science; Medi...,NaN,NaN,3,733,4,26.0,"STS-72 (Endeavor), STS-96 (Discovery), STS-105...",NaN,NaN
23,John-David F. Bartoe,NaN,NaN,Retired,11/17/1944,"Abington, PA",Male,Lehigh University; Georgetown University,Physics,Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
24,Charles A. Bassett II,1963.0,3.0,Deceased,12/30/1931,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,NaN,2/28/1966,NaN
25,Alan L. Bean,1963.0,3.0,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
26,Robert L. Behnken,2000.0,18.0,Active,7/28/1970,"Creve Couer, MO",Male,Washington University; California Institute of...,Physics & Mechanical Engineering,Mechanical Engineering,Colonel,US Air Force,2,708,6,37.0,"STS-123 (Endeavor), STS-130 (Endeavor)",NaN,NaN
27,John E. Blaha,1980.0,9.0,Retired,8/26/1942,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaN,NaN
28,Michael J. Bloomfield,1995.0,15.0,Retired,3/16/1959,"Flint, MI",Male,US Air Force Academy; Old Dominion University,Engineering Mechanics,Engineering Management,Colonel,US Air Force (Retired),3,779,0,0.0,"STS-86 (Atlantis), STS-97 (Endeavor), STS-110 ...",NaN,NaN
29,Guion S. Bluford Jr.,1978.0,8.0,Retired,11/22/1942,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,Charles Lacy Veach,1984.0,10.0,Deceased,9/18/1944,"Chicago, IL",Male,US Air Force Academy,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,"STS-39 (Discovery), STS-52 (Columbia)",10/3/1995,NaN
328,Terry W. Virts Jr.,2000.0,18.0,Active,12/1/1967,"Baltimore, MD",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Mathematics,Aeronautics,Colonel,US Air Force,2,5122,3,18.0,"STS-130 (Endeavor), ISS-42/43 (Soyuz)",NaN,NaN
329,James S. Voss,1987.0,12.0,Retired,3/3/1949,"Cordova, AL",Male,Auburn University; University of Colorado,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",NaN,NaN
330,Janice E. Voss,1990.0,13.0,Deceased,10/8/1956,"South Bend, IN",Female,Purdue University; MIT,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",2/6/2012,NaN
331,Rex J. Walheim,1996.0,16.0,Active,10/10/1962,"Redwood, CA",Male,University of California-Berkeley; University ...,Mechanical Engineering,Industrial Engineering,Colonel,US Air Force (Retired),3,872,5,36.0,"STS-110 (Atlantis), STS-122 (Atlantis), STS-13...",NaN,NaN
332,Charles D. Walker,NaN,NaN,Retired,8/29/1948,"Bedford, IN",Male,Purdue University,Aeronautical & Astronautical Engineering,NaN,NaN,NaN,3,477,0,0.0,"STS 41-D (Discovery), STS 51-D (Discovery), ST...",NaN,NaN
333,David M. Walker,1978.0,8.0,Deceased,5/20/1944,"Columbus, GA",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",4/23/2001,NaN
334,Shannon Walker,2004.0,19.0,Active,6/4/1965,"Houston, TX",Female,Rice University,Space Physics,Space Physics,NaN,NaN,1,3919,0,0.0,ISS-24/25 (Soyuz),NaN,NaN
335,Carl E. Walz,1990.0,13.0,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN
336,Taylor G. Wang,NaN,NaN,Retired,6/16/1940,"Jiangxi, China",Male,University of California at Los Angeles,Physics,Physics,NaN,NaN,1,168,0,0.0,STS 51-B (Challenger),NaN,NaN
337,Mary E. Weber,1992.0,14.0,Retired,8/24/1962,"Cleveland, OH",Female,Purdue University; University of California-Be...,Chemical Engineering,Physical Chemistry,NaN,NaN,2,450,0,0.0,"STS-70 (Discovery), STS-101 (Atlantis)",NaN,NaN
338,Paul J. Weitz,1966.0,5.0,Retired,6/25/1932,"Erie, PA",Male,Pennsylvania State University; US Naval Postgr...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,"Skylab 2, STS-6 (Challenger)",NaN,NaN
339,James D. Wetherbee,1984.0,10.0,Retired,11/27/1952,"Flushing, NY",Male,University of Notre Dame,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",NaN,NaN
340,Douglas H. Wheelock,1998.0,17.0,Active,5/5/1960,"Binghamton, NY",Male,US Military Academy; Georgia Institute of Tech...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army,2,4281,6,43.0,"STS-120 (Discovery), ISS-24/25 (Soyuz)",NaN,NaN
341,Edward H. White II,1962.0,2.0,Deceased,11/14/1930,"San Antonio, TX",Male,US Military Academy; University of Michigan,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,"Gemini 4, Apollo 1",1/27/1967,Apollo 1
342,Peggy A. Whitson,1996.0,16.0,Active,2/9/1960,"Mt. Ayr, IA",Female,Iowa Wesleyan College; Rice University,Chemistry & Biology,Biochemistry,NaN,NaN,3,11698,7,46.0,"STS-111/113 (Endeavor), ISS-16 (Soyuz), ISS-50...",NaN,NaN
343,Terrence W. Wilcutt,1990.0,13.0,Management,10/31/1949,"Russellville, KY",Male,Western Kentucky University,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",NaN,NaN
344,Clifton C. Williams Jr.,1963.0,3.0,Deceased,9/26/1932,"Mobile, AL",Male,Auburn University,Mechanical Engineering,NaN,Major,US Marine Corps,0,0,0,0.0,NaN,10/5/1967,NaN
345,Donald E. Williams,1978.0,8.0,Retired,2/13/1958,"Lafayette, IN",Male,Purdue University,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,"STS 51-D (Discovery), STS-34 (Atlantis)",NaN,NaN
346,Jeffrey N. Williams,1996.0,16.0,Active,1/18/1958,"Superior, WI",Male,US Military Academy; US Naval Postgraduate Sch...,Applied Science & Engineering,Aeronautical Engineering; National Security & ...,Colonel,US Army (Retired),4,12818,5,32.0,"STS-101 (Atlantis), ISS-13 (Soyuz), ISS-21/22 ...",NaN,NaN
347,Sunita L. Williams,1998.0,17.0,Active,9/19/1965,"Euclid, OH",Female,US Naval Academy; Florida Institute of Technology,Physical Science,Engineering Management,Captain,US Navy,2,7721,7,50.0,"STS-116/117 (Discovery/Atlantis), ISS-32/33 (S...",NaN,NaN
348,Barry E. Wilmore,2000.0,18.0,Active,12/29/1962,"Murfreesboro, TN",Male,Tennessee Technological University; University...,Electrical Engineering,Electrical Engineering; Aviation Systems,Captain,US Navy,2,4272,4,25.0,"STS-129 (Atlantis), ISS-41/42 (Soyuz)",NaN,NaN
349,Stephanie D. Wilson,1996.0,16.0,Active,9/27/1966,"Boston, MA",Female,Harvard University; University of Texas,Engineering Science,Aerospace Engineering,NaN,NaN,3,1031,0,0.0,"STS-121 (Discovery), STS-120 (Discovery), STS-...",NaN,NaN
350,G. Reid Wiseman,2009.0,20.0,Active,11/11/1975,"Baltimore, MD",Male,Rensselaer Polytechnic Institute; Johns Hopkin...,Computer & Systems Engineering,Systems Engineering,Commander,US Navy,1,3968,2,13.0,ISS-40/41 (Soyuz),NaN,NaN
351,Peter J. K. Wisoff,1990.0,13.0,Retired,8/16/1958,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaN,NaN
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,7/26/1962,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN

### Sich mit `head()` und `len()` einen ersten Überblick über die Daten verschaffen

Das DataFrame ist sehr umfangreich und in seiner gesamten Darstellung geradezu erschlagend. Um dir einen Überblick über ein DataFrame zu verschaffen, reicht es, wenn du dir zunächst die Beschriftung der Spalten und die ersten Zeilen anschaust. Mit der `head()`-Methode wird dir nur dieser obere Abschnitt aus einem DataFrame angezeigt.

In [20]:
df.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN

Mit `len()` kannst du die Anzahl der Einträge in einem `DataFrame` abfragen - du gehst dazu wie gewohnt vor.

In [6]:
len(df)

357

Da die Zeile mit der Beschriftung mitgezählt wird, sehen wir also, dass es in unserem DataFrame `df` insgesamt 356 Einträge gibt.

### Auf eine Spalte eines `DataFrames` zugreifen

Mit der `[ ] - Schreibweise` können wir über den Titel auf die Inhalte einer Spalte zugreifen - so wie bei einem dictionary über den Schlüssel.

In [23]:
df["Name"]

0               Joseph M. Acaba
1                Loren W. Acton
2              James C. Adamson
3               Thomas D. Akers
4                   Buzz Aldrin
5               Andrew M. Allen
6               Joseph P. Allen
7               Scott D. Altman
8             William A. Anders
9           Clayton C. Anderson
10          Michael P. Anderson
11         Dominic A. Antonelli
12              Jerome Apt III
13           Lee J. Archambault
14            Neil A. Armstrong
15        Richard R. Arnold II
16             Jeffrey S. Ashby
17              Serena M. Aunon
18              James P. Bagian
19               Ellen S. Baker
20             Michael A. Baker
21           Michael R. Barratt
22              Daniel T. Barry
23         John-David F. Bartoe
24       Charles A. Bassett II
25                 Alan L. Bean
26            Robert L. Behnken
27                John E. Blaha
28        Michael J. Bloomfield
29        Guion S. Bluford Jr.
                 ...
327          Charles Lacy Veach
328         Terry W. Virts Jr.
329               James S. Voss
330              Janice E. Voss
331              Rex J. Walheim
332           Charles D. Walker
333             David M. Walker
334              Shannon Walker
335                Carl E. Walz
336              Taylor G. Wang
337               Mary E. Weber
338               Paul J. Weitz
339          James D. Wetherbee
340         Douglas H. Wheelock
341         Edward H. White II
342            Peggy A. Whitson
343         Terrence W. Wilcutt
344    Clifton C. Williams Jr.
345          Donald E. Williams
346         Jeffrey N. Williams
347          Sunita L. Williams
348            Barry E. Wilmore
349         Stephanie D. Wilson
350             G. Reid Wiseman
351          Peter J. K. Wisoff
352               David A. Wolf
353       Neil W. Woodward III
354            Alfred M. Worden
355               John W. Young
356             George D. Zamka
Name: Name, Length: 357, dtype: object

In [7]:
for name in df["Name"]:
    print(name)

Joseph M. Acaba
Loren W. Acton
James C. Adamson
Thomas D. Akers
Buzz Aldrin
Andrew M. Allen
Joseph P. Allen
Scott D. Altman
William A. Anders
Clayton C. Anderson
Michael P. Anderson
Dominic A. Antonelli
Jerome Apt III
Lee J. Archambault
Neil A. Armstrong
Richard R. Arnold II
Jeffrey S. Ashby
Serena M. Aunon
James P. Bagian
Ellen S. Baker
Michael A. Baker
Michael R. Barratt
Daniel T. Barry
John-David F. Bartoe
Charles A. Bassett II
Alan L. Bean
Robert L. Behnken
John E. Blaha
Michael J. Bloomfield
Guion S. Bluford Jr.
Karol J. Bobko
Eric A. Boe
Charles F. Bolden Jr.
Frank Borman
Stephen G. Bowen
Kenneth D. Bowersox
Charles E. Brady Jr.
Vance D. Brand
Daniel C. Brandenstein
Randolph J. Bresnik
Roy D. Bridges Jr.
Curtis L. Brown Jr.
David M. Brown
Mark N. Brown
James F. Buchli
Jay Clark Buckey
John S. Bull
Daniel C. Burbank
Daniel W. Bursch
Robert D. Cabana
Yvonne D. Cagle
Fernando Caldeiro
Tracy E. Caldwell (Dyson)
Charles J. Camarda
Kenneth D. Cameron
Duane G. Carey
M. Scott Carpenter
Gerald P. Carr
Manley Lanier Carter Jr.
John H. Casper
Christopher J. Cassidy
Robert Cenker
Eugene A. Cernan
Roger B. Chaffee
Gregory E. Chamitoff
Franklin R. Chang-Diaz
Philip K. Chapman
Kalpana Chawla
Leroy Chiao
Kevin P. Chilton
Laurel B. Clark
Mary L. Cleave
Michael R. Clifford
Michael L. Coats
Kenneth D. Cockrell
Catherine G. Coleman
Eileen M. Collins
Michael Collins
Charles Conrad Jr.
L. Gordon Cooper Jr.
Richard O. Covey
Timothy J. Creamer
John O. Creighton
Robert L. Crippen
Roger K. Crouch
Frank L. Culbertson Jr.
Walter Cunningham
Robert L. Curbeam Jr.
Nancy J. Currie
N. Jan Davis
Lawrence J. Delucas
Alvin B. Drew Jr.
Brian Duffy
Charles M. Duke Jr.
Bonnie J. Dunbar
Samuel T. Durrance
James P. Dutton Jr.
Joe F. Edwards Jr.
Donn F. Eisele
Anthony W. England
Joe H. Engle
Jeanette J. Epps
Ronald E. Evans Jr.
John M. Fabian
Christopher J. Ferguson
Martin J. Fettman
Andrew J. Feustel
E. Michael Fincke
Jack D. Fischer
Anna L. Fisher
William F. Fisher
C. Michael Foale
Kevin A. Ford
Michael J. Foreman
Patrick G. Forrester
Michael E. Fossum
Theodore C. Freeman
Stephen N. Frick
C. Gordon Fullerton
F. Andrew Gaffney
Ronald J. Garan Jr.
Dale A. Gardner
Guy S. Gardner
Jake Garn
Owen K. Garriott
Charles D. Gemar
Michael L. Gernhardt
Edward G. Gibson
Robert L. Gibson
Edward G. Givens Jr.
John H. Glenn Jr.
Linda M. Godwin
Michael T. Good
Richard F. Gordon Jr.
Dominic L. Gorie
Ronald J. Grabe
Duane E. Graveline
Frederick D. Gregory
William G. Gregory
S. David Griggs
Virgil I. Grissom
John M. Grunsfeld
Sidney M. Gutierrez
Fred W. Haise Jr.
James D. Halsell Jr.
Kenneth T. Ham
L. Blaine Hammond Jr.
Gregory J. Harbaugh
Bernard A. Harris Jr.
Terry J. Hart
Henry W. Hartsfield Jr.
Frederick H. Hauck
Steven A. Hawley
Susan J. Helms
Karl G. Henize
Thomas J. Hennen
Terence T. Henricks
Jose M. Hernandez
John B. Herrington
Richard J. Hieb
Joan E. Higginbotham
David C. Hilmers
Kathryn P. Hire
Charles O. Hobaugh
Jeffrey A. Hoffman
Donald L. Holmquest
Michael S. Hopkins
Scott J. Horowitz
Millie Hughes-Fulford
Douglas G. Hurley
Rick D. Husband
James B. Irwin
Marsha S. Ivins
Gregory B. Jarvis
Mae C. Jemison
Tamara E. Jernigan
Brent W. Jett
Gregory C. Johnson
Gregory H. Johnson
Thomas D. Jones
Janet L. Kavandi
James M. Kelly
Mark E. Kelly
Scott J. Kelly
Joseph P. Kerwin
Susan L. Kilrain (Still)
Robert Shane Kimbrough
Timothy L. Kopra
Kevin R. Kregel
Wendy B. Lawrence
Mark C. Lee
David C. Leestma
William B. Lenoir
Fred W. Leslie
Byron K. Lichtenberg
Don L. Lind
Kjell N. Lindgren
Steven W. Lindsey
Jerry M. Linenger
Richard M. Linnehan
Gregory T. Linteris
John A. Llewellyn
Paul S. Lockhart
Michael E. Lopez-Alegria
Christopher J. Loria
J. Mike Lounge
Jack R. Lousma
Stanley G. Love
James A. Lovell Jr.
G. David Low
Edward T. Lu
Shannon W. Lucid
Sandra H. Magnus
Thomas H. Marshburn
Michael J. Massimino
Richard A. Mastracchio
Thomas K. Mattingly II
K. Megan McArthur
William S. McArthur Jr.
S. Christa McAuliffe
Jon A. McBride
Bruce McCandless II
William C. McCool
Michael J. McCulley
James A. McDivitt
Donald R. McMonagle
Ronald E. McNair
Carl J. Meade
Bruce E. Melnick
Pamela A. Melroy
Leland D. Melvin
Dorothy M. Metcalf-Lindenberger
F. Curtis Michel
Edgar D. Mitchell
Barbara R. Morgan
Lee M. Morin
Richard M. Mullane
Story Musgrave
Steven R. Nagel
Bill Nelson
George D. Nelson
James H. Newman
Carlos I. Noriega
Lisa M. Nowak
Karen L. Nyberg
Bryan D. O'Connor
Brian T. O'Leary
Ellen Ochoa
William A. Oefelein
John D. Olivas
Ellison S. Onizuka
Stephen S. Oswald
Robert F. Overmyer
William A. Pailes
Scott E. Parazynski
Ronald A. Parise
Robert A. Parker
Niclolas J. M. Patrick
James A. Pawelczyk
Gary E. Payton
Donald H. Peterson
Donald R. Pettit
John L. Phillips
William R. Pogue
Alan G. Poindexter
Mark L. Polansky
Charles J. Precourt
William F. Readdy
Kenneth S. Reightler Jr.
James F. Reilly II
Garrett E. Reisman
Judith A. Resnik
Paul W. Richards
Richard N. Richards
Sally K. Ride
Patricia Hilliard Robertson
Stephen K. Robinson
Kent V. Rominger
Stuart A. Roosa
Jerry L. Ross
Kathleen Rubins
Mario Runco Jr.
Albert Sacco Jr.
Robert L. Satcher Jr.
Walter M. Schirra Jr.
Harrison H. Schmitt
Russell L. Schweickart
Francis R. Scobee
David R. Scott
Winston E. Scott
Paul D. Scully-Power
Richard A. Searfoss
Margaret Rhea Seddon
Elliot M. See Jr.
Ronald M. Sega
Piers J. Sellers
Brewster H. Shaw Jr.
Alan B. Shepard Jr.
William M. Shepherd
Loren J. Shriver
Donald K. Slayton
Michael J. Smith
Steven L. Smith
Sherwood C. Spring
Robert C. Springer
Thomas P. Stafford
Heidemarie M. Stefanyshyn-Piper
Robert L. Stewart
Nicole P. Stott
Frederick W. Sturckow
Kathryn D. Sullivan
Steven R. Swanson
John L. Swigert Jr.
Daniel M. Tani
Joseph R. Tanner
Norman E. Thagard
Andrew S. W. Thomas
Donald A. Thomas
Stephen D. Thorne
Kathryn C. Thornton
William E. Thornton
Pierre J. Thuot
Scott D. Tingle
Richard H. Truly
Lodewijk van den Berg
James D. van Hoften
Mark T. Vande Hei
Charles Lacy Veach
Terry W. Virts Jr.
James S. Voss
Janice E. Voss
Rex J. Walheim
Charles D. Walker
David M. Walker
Shannon Walker
Carl E. Walz
Taylor G. Wang
Mary E. Weber
Paul J. Weitz
James D. Wetherbee
Douglas H. Wheelock
Edward H. White II
Peggy A. Whitson
Terrence W. Wilcutt
Clifton C. Williams Jr.
Donald E. Williams
Jeffrey N. Williams
Sunita L. Williams
Barry E. Wilmore
Stephanie D. Wilson
G. Reid Wiseman
Peter J. K. Wisoff
David A. Wolf
Neil W. Woodward III
Alfred M. Worden
John W. Young
George D. Zamka

### Auf eine Zeile eines `DataFrames` zugreifen

Für den Zugriff auf eine bestimmte Spalte brauchen wir die **`iloc()`**-Methode (die `[ ] - Schreibweise` ist ja schon mit dem Zugriff auf die Spalten belegt).

In [24]:
df.iloc[0]

Name                                                     Joseph M. Acaba
Year                                                                2004
Group                                                                 19
Status                                                            Active
Birth Date                                                     5/17/1967
Birth Place                                                Inglewood, CA
Gender                                                              Male
Alma Mater             University of California-Santa Barbara; Univer...
Undergraduate Major                                              Geology
Graduate Major                                                   Geology
Military Rank                                                        NaN
Military Branch                                                      NaN
Space Flights                                                          2
Space Flight (hr)                                                   3307
Space Walks                                                            2
Space Walks (hr)                                                      13
Missions                          STS-119 (Discovery), ISS-31/32 (Soyuz)
Death Date                                                           NaN
Death Mission                                                        NaN
Name: 0, dtype: object

Natürlich können wir auch auf einzelne Spalten in einem Zeileneintrag zugreifen.

In [1]:
entry = df.iloc[0]
print(entry["Birth Date"])

NameError: name 'df' is not defined

Oder kurz:

In [10]:
print(df.iloc[0]["Birth Date"])

5/17/1967

Mittels der `list slicing` - Notation können wir auch Bereiche von Zeilen auswählen, z.B. die letzten fünf Zeilen des DataFrames:

In [12]:
df.iloc[-5:]

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,7/26/1962,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN